<p id="notice"><%= notice %></p>

<p>
  <strong>Exl2014:</strong>
  <%= @pithcher.exl2014 %>
</p>

<p>
  <strong>Exl2013:</strong>
  <%= @pithcher.exl2013 %>
</p>

<p>
  <strong>Exl2012:</strong>
  <%= @pithcher.exl2012 %>
</p>

<p>
  <strong>Exl2011:</strong>
  <%= @pithcher.exl2011 %>
</p>

<%= link_to 'Edit', edit_pithcher_path(@pithcher) %> |
<%= link_to 'Back', pithchers_path %>
